---
import {
    FaAngular,
    FaHtml5,
    FaCss3Alt,
    FaPhp,
    FaBootstrap,
    FaGithubSquare,
    FaExternalLinkAlt,
} from "react-icons/fa";
import { RiTailwindCssFill } from "react-icons/ri";
import { SiJquery, SiDjango, SiTypescript } from "react-icons/si";
import { IoLogoJavascript } from "react-icons/io5";
import CardProject from "@components/CardProject.astro";
import ProjectsNav from "@components/ProjectsNav.astro";
import HTMLRenderer from "@/i18n/HTMLRenderer.astro";

import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const angularImg = [
    {
        url:"img/projects/camara-1.webp",
        alt:t('camaras.alt') + " 1"
    },
    {
        url:"img/projects/camara-2.webp",
        alt:t('camaras.alt') + " 2"
    },
    {
        url:"img/projects/camara-3.webp",
        alt:t('camaras.alt') + " 3"
    },
    {
        url:"img/projects/camara-4.webp",
        alt:t('camaras.alt') + " 4"
    },
    {
        url:"img/projects/camara-5.webp",
        alt:t('camaras.alt') + " 5" 
    },
    {
        url:"img/projects/camara-6.webp",
        alt:t('camaras.alt') + " 6"
    },
    {
        url:"img/projects/camara-7.webp",
        alt:t('camaras.alt') + " 7"
    }
];

const cctvImg = [
    {
        url:"img/projects/cctv-1.webp",
        alt: t('cctv.alt') + " 1"
    },
    {
        url:"img/projects/cctv-2.webp",
        alt: t('cctv.alt') + " 2"
    },
    {
        url:"img/projects/cctv-3.webp",
        alt: t('cctv.alt') + " 3"
    }
];

const mineducImg = [
    {
        url:"img/projects/mineduc-1.webp",
        alt:t('mineduc.alt') + " 1"
    },
    {
        url:"img/projects/mineduc-2.webp",
        alt:t('mineduc.alt') + " 2"
    },
    {
        url:"img/projects/mineduc-3.webp",
        alt:t('mineduc.alt') + " 3"
    },
    {
        url:"img/projects/mineduc-4.webp",
        alt:t('mineduc.alt') + " 4"
    },
    {
        url:"img/projects/mineduc-5.webp",
        alt:t('mineduc.alt') + " 5"
    },
    {
        url:"img/projects/mineduc-6.webp",
        alt:t('mineduc.alt') + " 6"
    }
];

const cctvTime = [
    "06/2024",
    "10/2024"
]
const camarasTime = [
    "10/2024",
    t('projects.time.active')
]
const mineducTime = [
    "04/2024",
    "07/2024"
]

const cctvIcons = [
    {
        icon:FaPhp,
        tooltip:"PHP"
    }, 
    {
        icon:IoLogoJavascript,
        tooltip:"JavaScript"
    }, 
    {
        icon:SiJquery,
        tooltip:"JQuery"
    }, 
    {
        icon:FaBootstrap,
        tooltip:"Bootstrap 5"
    }
]

const camarasIcons = [
    {
        icon:FaAngular,
        tooltip:"Angular 18"
    }, 
    {
        icon:FaPhp,
        tooltip:"PHP"
    }, 
    {
        icon:RiTailwindCssFill,
        tooltip:"Tailwind"
    },
    {
        icon:SiTypescript,
        tooltip:"Typescript"
    }
]

const mineducIcons = [
    {
        icon:SiDjango,
        tooltip:"Django 4"
    }, 
    {
        icon:FaHtml5,
        tooltip:"HTML"
    }, 
    {
        icon:FaCss3Alt,
        tooltip:"CSS"
    }, 
    {
        icon:IoLogoJavascript,
        tooltip:"JavaScript"
    }
]
---
<section class="text-white w-full h-min relative">
    <h1
        class="tittles"
    >
        {t('projects.title')}
    </h1>
    <div class="projects">
        <div class="ml-[-40px] sm:ml-[-60px] md:ml-[-70px] w-min border border-gray-400 border-opacity-10 backdrop-brightness-125 rounded-lg hover:border-opacity-20">
            <ProjectsNav />
        </div>
        <div class="flex flex-col gap-28 sm:gap-36">
            <CardProject
                id="proyecto1"
                title="Cámaras de Seguridad Fácil"
                position="Fullstack"
                time={camarasTime}
                imgUrl={angularImg}
                icons={camarasIcons}
            >
                <div class="flex flex-col gap-4">
                    <p>
                        <HTMLRenderer content={t('camaras.p1')} />
                    </p>
                    <p>
                        <HTMLRenderer content={t('camaras.p2')} />
                    </p>
                    <ul class="list-disc list-inside mt-3">
                        <li>JWT</li>
                        <li>Angular Material 3</li>
                        <li>Experimental Zoneless</li>
                        <li>Signals</li>
                        <li>Tailwind</li>
                        <li>{t('flow.integration')}</li>
                    </ul>
                </div>
                <div class="">
                    <a
                        class="anchor"
                        href="https://github.com/lvisfelip3/AngularEcommerceCamaras"
                        target="_blank"
                    >
                        <FaGithubSquare className="icons-links" />
                        <p>{t('project.git')}</p>
                    </a>
                    <a
                        class="anchor"
                        href="https://camarasdeseguridadfacil.cl"
                        target="_blank"
                    >
                        <FaExternalLinkAlt className="icons-links" />
                        <p>{t('project.visit')}</p>
                    </a>
                </div>
            </CardProject>
            <CardProject
                id="proyecto2"
                title="Inclusive Group CCTV App"
                position="Fullstack"
                time={cctvTime}
                imgUrl={cctvImg}
                icons={cctvIcons}
            >
                <div class="flex flex-col gap-4">
                    <p>
                        <HTMLRenderer content={t('cctv.p1')} />
                    </p>
                    <p>
                        <HTMLRenderer content={t('cctv.p2')} />
                    </p>
                    <ul class="list-disc list-inside mt-3">
                        <li>JQuery</li>
                        <li>Bootstrap 5</li>
                        <li>AJAX</li>
                        <li>Apex Charts</li>
                    </ul>
                </div>
                <div class="">
                    <a
                        class="anchor"
                        href="https://github.com/lvisfelip3/inclu-cert-cctv"
                        target="_blank"
                    >
                        <FaGithubSquare className="icons-links" />
                        <p>{t('project.git')}</p>
                    </a>
                    <a
                        class="anchor"
                        href="https://cctv-inclusive.iarcos.cl/site/"
                        target="_blank"
                    >
                        <FaExternalLinkAlt className="icons-links" />
                        <p>{t('project.visit')}</p>
                    </a>
                </div>
            </CardProject>
            <CardProject
                id="proyecto3"
                title="Portal Mineduc"
                position="Fullstack"
                time={mineducTime}
                imgUrl={mineducImg}
                icons={mineducIcons}
            >
                <div class="flex flex-col gap-4">
                    <p>
                        <HTMLRenderer content={t('mineduc.p1')} />
                    </p>
                    <p>
                        <HTMLRenderer content={t('mineduc.p2')} />
                    </p>
                    <p>
                        <HTMLRenderer content={t('mineduc.p3')} />
                    </p>
                </div>
                <div class="">
                    <a
                        class="anchor"
                        href="https://github.com/lvisfelip3/portalMineduc"
                        target="_blank"
                    >
                        <FaGithubSquare className="icons-links" />
                        <p>{t('project.git')}</p>
                    </a>
                    <a class="anchor disabled" href="#">
                        <FaExternalLinkAlt className="icons-links" />
                        <p>{t('project.visit')}</p>
                    </a>
                </div>
            </CardProject>
        </div>
    </div>
</section>

<style>
    .icons-links {
        @apply h-10 w-10;
    }

    .anchor {
        @apply flex items-center gap-2 hover:bg-gray-400 hover:bg-opacity-50 active:bg-gray-200 active:text-gray-900 p-2 rounded-lg transition-all duration-200;
    }

    .disabled {
        @apply pointer-events-none opacity-45;
    }

    .projects {
        display: grid;
        grid-template-columns: 0px 1fr;
    }
</style>
