---
import {
    FaAngular,
    FaHtml5,
    FaCss3Alt,
    FaPhp,
    FaBootstrap,
    FaGithubSquare,
    FaExternalLinkAlt,
} from "react-icons/fa";
import { RiTailwindCssFill } from "react-icons/ri";
import { SiJquery, SiDjango, SiTypescript } from "react-icons/si";
import { IoLogoJavascript } from "react-icons/io5";
import CardProject from "@components/CardProject.astro";
import ProjectsNav from "@components/ProjectsNav.astro";

const angularImg = [
    {
        url:"img/projects/camara-1.webp",
        alt:"Imagen Cámaras de Seguridad 1"
    },
    {
        url:"img/projects/camara-2.webp",
        alt:"Imagen Cámaras de Seguridad 2"
    },
    {
        url:"img/projects/camara-3.webp",
        alt:"Imagen Cámaras de Seguridad 3"
    },
    {
        url:"img/projects/camara-4.webp",
        alt:"Imagen Cámaras de Seguridad 4"
    },
    {
        url:"img/projects/camara-5.webp",
        alt:"Imagen Cámaras de Seguridad 5" 
    },
    {
        url:"img/projects/camara-6.webp",
        alt:"Imagen Cámaras de Seguridad 6"
    },
    {
        url:"img/projects/camara-7.webp",
        alt:"Imagen Cámaras de Seguridad 7"
    }
];

const cctvImg = [
    {
        url:"img/projects/cctv-1.webp",
        alt:"Imagen CCTV 1"
    },
    {
        url:"img/projects/cctv-2.webp",
        alt:"Imagen CCTV 2"
    },
    {
        url:"img/projects/cctv-3.webp",
        alt:"Imagen CCTV 3"
    }
];

const mineducImg = [
    {
        url:"img/projects/mineduc-1.webp",
        alt:"Imagen Portal Mineduc 1"
    },
    {
        url:"img/projects/mineduc-2.webp",
        alt:"Imagen Portal Mineduc 2"
    },
    {
        url:"img/projects/mineduc-3.webp",
        alt:"Imagen Portal Mineduc 3"
    },
    {
        url:"img/projects/mineduc-4.webp",
        alt:"Imagen Portal Mineduc 4"
    },
    {
        url:"img/projects/mineduc-5.webp",
        alt:"Imagen Portal Mineduc 5"
    },
    {
        url:"img/projects/mineduc-6.webp",
        alt:"Imagen Portal Mineduc 6"
    }
];

const cctvTime = [
    "06/2024",
    "Actualidad"
]
const camarasTime = [
    "10/2024",
    "Actualidad"
]
const mineducTime = [
    "04/2024",
    "07/2024"
]

const cctvIcons = [
    {
        icon:FaPhp,
        tooltip:"PHP"
    }, 
    {
        icon:IoLogoJavascript,
        tooltip:"JavaScript"
    }, 
    {
        icon:SiJquery,
        tooltip:"JQuery"
    }, 
    {
        icon:FaBootstrap,
        tooltip:"Bootstrap 5"
    }
]

const camarasIcons = [
    {
        icon:FaAngular,
        tooltip:"Angular 18"
    }, 
    {
        icon:FaPhp,
        tooltip:"PHP"
    }, 
    {
        icon:RiTailwindCssFill,
        tooltip:"Tailwind"
    },
    {
        icon:SiTypescript,
        tooltip:"Typescript"
    }
]

const mineducIcons = [
    {
        icon:SiDjango,
        tooltip:"Django 4"
    }, 
    {
        icon:FaHtml5,
        tooltip:"HTML"
    }, 
    {
        icon:FaCss3Alt,
        tooltip:"CSS"
    }, 
    {
        icon:IoLogoJavascript,
        tooltip:"JavaScript"
    }
]
---
<section class="text-white w-full h-min relative">
    <h1
        class="tittles"
    >
        Proyectos
    </h1>
    <div class="projects">
        <div class="ml-[-40px] sm:ml-[-60px] md:ml-[-70px] w-min border border-gray-400 border-opacity-10 backdrop-brightness-125 rounded-lg hover:border-opacity-20">
            <ProjectsNav />
        </div>
        <div class="flex flex-col gap-28 sm:gap-36">
            <CardProject
                id="proyecto1"
                title="Cámaras de Seguridad Fácil"
                position="Fullstack"
                time={camarasTime}
                imgUrl={angularImg}
                icons={camarasIcons}
            >
                <div class="flex flex-col gap-4">
                    <p>
                        Aplicación web <strong class="text-cyan-100">Ecommerce</strong> para la venta de productos según el
                        cliente.
                    </p>
                    <p>
                        Construida con <strong class="text-red-200">Angular 18</strong> para el Front End y <strong class="text-indigo-200">PHP</strong> para el
                        Back End.
                    </p>
                    <ul class="list-disc list-inside mt-3">
                        <li>JWT</li>
                        <li>Angular Material 3</li>
                        <li>Experimental Zoneless</li>
                        <li>Signals</li>
                        <li>Tailwind</li>
                    </ul>
                </div>
                <div class="">
                    <a
                        class="anchor"
                        href="https://github.com/lvisfelip3/AngularEcommerceCamaras"
                        target="_blank"
                    >
                        <FaGithubSquare className="icons-links" />
                        <p>Repositorio en GitHub</p>
                    </a>
                    <a
                        class="anchor"
                        href="https://camarasdeseguridadfacil.cl"
                        target="_blank"
                    >
                        <FaExternalLinkAlt className="icons-links" />
                        <p>Visitar</p>
                    </a>
                </div>
            </CardProject>
            <CardProject
                id="proyecto2"
                title="Inclusive Group CCTV App"
                position="Fullstack"
                time={cctvTime}
                imgUrl={cctvImg}
                icons={cctvIcons}
            >
                <div class="flex flex-col gap-4">
                    <p>
                        Aplicación web de tipo <strong class="text-slate-100">privada</strong> para <strong class="text-cyan-100">administrar y monitorear</strong>
                        el estado de las cámaras de seguridad de diferentes
                        clientes.
                    </p>
                    <p>
                        Construida con <strong class="text-indigo-200">PHP</strong> en su totalidad, usando <strong class="text-sky-300">JQuery</strong> para hacer peticiones
                        asíncronas al servidor
                    </p>
                    <ul class="list-disc list-inside mt-3">
                        <li>JQuery</li>
                        <li>Bootstrap 5</li>
                        <li>AJAX</li>
                        <li>Apex Charts</li>
                    </ul>
                </div>
                <div class="">
                    <a
                        class="anchor"
                        href="https://github.com/lvisfelip3/inclu-cert-cctv"
                        target="_blank"
                    >
                        <FaGithubSquare className="icons-links" />
                        <p>Repositorio en GitHub</p>
                    </a>
                    <a
                        class="anchor"
                        href="https://cctv-inclusive.iarcos.cl/site/"
                        target="_blank"
                    >
                        <FaExternalLinkAlt className="icons-links" />
                        <p>Visitar</p>
                    </a>
                </div>
            </CardProject>
            <CardProject
                id="proyecto3"
                title="Portal Mineduc"
                position="Fullstack"
                time={mineducTime}
                imgUrl={mineducImg}
                icons={mineducIcons}
            >
                <div class="flex flex-col gap-4">
                    <p>
                        Proyecto para la asignatura <strong class="text-orange-200">Portafolio de Título</strong> de la
                        carrera <strong class="text-pink-100">Analista Programador</strong>.
                    </p>
                    <p>
                        A modo de aprendizaje, desarrollé un <strong class="text-cyan-100">Portal web</strong> para los
                        establecimientos estudiantiles de bajos recursos, donde pueden disfrutar de todas sus funciones en un solo lugar.
                    </p>
                    <p>
                        Desarrollado con el framework <strong class="text-emerald-100">Django 4</strong>, creando la api con
                        <strong class="text-blue-200">Python</strong>. Front End con <strong class="text-orange-200">HTML</strong>, <strong class="text-sky-200">CSS</strong> y <strong class="text-yellow-200">JavaScript</strong> nativos.
                    </p>
                    <ul class="list-disc list-inside mt-3">
                        <li>Python</li>
                        <li>Moderno e Intuitivo</li>
                    </ul>
                </div>
                <div class="">
                    <a
                        class="anchor"
                        href="https://github.com/lvisfelip3/portalMineduc"
                        target="_blank"
                    >
                        <FaGithubSquare className="icons-links" />
                        <p>Repositorio en GitHub</p>
                    </a>
                    <a class="anchor disabled" href="#">
                        <FaExternalLinkAlt className="icons-links" />
                        <p>Visitar</p>
                    </a>
                </div>
            </CardProject>
        </div>
    </div>
</section>

<style>
    .icons-links {
        @apply h-10 w-10;
    }

    .anchor {
        @apply flex items-center gap-2 hover:bg-gray-400 hover:bg-opacity-50 active:bg-gray-200 active:text-gray-900 p-2 rounded-lg transition-all duration-200;
    }

    .disabled {
        @apply pointer-events-none opacity-45;
    }

    .projects {
        display: grid;
        grid-template-columns: 0px 1fr;
    }
</style>
